.admin-ChangePassword-container {
    display: flex;
    flex-direction: row;
  }
  
  .admin-ChangePassword-content {
    margin-top: 60px; /* Adjust based on header height */
    margin-left: 200px; /* Adjust based on sidebar width */
    padding: 20px;
    width: calc(100% - 220px); /* Adjust width based on sidebar width */
    transition: margin-left 0.3s ease, width 0.3s ease;
  }
  
  .admin-ChangePassword-content.collapsed {
    margin-left: 50px; /* Increased margin when collapsed */
    width: calc(100% - 70px); /* Adjusted width to account for increased margin */
  }

  
  @media (max-width: 1024px) {
    .admin-ChangePassword-container {
      flex-direction: column;
    }
  
    .admin-ChangePassword-content {
      margin-left: 0;
      width: 100%;
      padding: 15px;
      margin-top: 20px;
    }
  
    .admin-ChangePassword-content.collapsed {
      margin-left: 50px; /* Increased margin to move content right */
      width: calc(100% - 70px); /* Adjusted width */
    }
}

@media (max-width: 767px) {
    .admin-ChangePassword-container {
      flex-direction: column;
    }
  
    .admin-ChangePassword-content {
      margin-left: 0;
      width: 100%;
      padding: 15px;
      margin-top: 15px;
    }
  
    .admin-ChangePassword-content.collapsed {
      margin-left: 0;
      width: 100%;
    }
}  